[user]
  email = matias.fontanini@gmail.com
  name = Matias Fontanini

[core]
  pager = delta
  editor = nvim

[alias]
  # checkout a pull request
  checkout-pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
 
  # sync master/main branch
  sm = !"sm() { for branch in main master; do if [ $(git rev-parse --verify $branch 2>/dev/null) ]; then git checkout $branch; git pull origin $branch; git submodule update --init --recursive; break; fi; done }; sm"

  # cleanup merged branches
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main' | xargs -n 1 -r git branch -d"

  # append changes to previous commit (unless we're rebasing!)
  yolo-commit = !"yolo() { if [ -f "$(git rev-parse --show-toplevel)/.git/rebase-merge/done" ]; then echo 'rebase in progress!'; else git commit --amend --no-edit --no-verify; fi }; yolo"

  # start interactive rebase
  rbi = rebase -i

  # rebase against origin/{main/master}
  rbm = !"rbm() { for branch in main master; do if [ $(git rev-parse --verify $branch 2>/dev/null) ]; then git rebase -i origin/$branch; git pull origin $branch; break; fi; done }; rbm"

  # continue rebase
  rbc = rebase --continue

  # abort rebase
  rba = rebase --abort

  # checkout
  co = checkout 

  # submodule update
  sbu = submodule update --init --recursive

[fetch]
  prune = true

[push]
  default = current

[pull]
  rebase = true
  default = current

[delta]
  syntax-theme = Sublime Snazzy
  line-numbers = true

[branch]
  sort = -committerdate
